<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Lista de Transacciones</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.0/css/bootstrap.min.css}">
</head>
<body>
    <header th:replace="layout/plantilla :: header"></header>
    <h2>Lista de Transacciones</h2>
    <a th:href="@{/}">Home</a>
    <a th:href="@{/Movimientos/crear}">Nuevo</a>
    <table border="1">
        <tr>
            <th>Monto</th>
            <th>Concepto</th>
            <th>Usuario</th>
            <th>Empresa</th>
            <th>Editar</th>
        </tr>
        <tr th:each="transaccion : ${transaccion}">
            <td th:text="${transaccion.montoDinero}"></td>
            <td th:text="${transaccion.concepto}"></td>
            <td th:text="${transaccion.usuarioRegistro.nombreEmpleado}"></td>
            <td th:text="${transaccion.empresa.nombreEmpresa}"></td>
            <td><a th:href="@{/EditarMov/} + ${transaccion.Id_movimiento}" th:text="Editar"></a> </td>
        </tr>
    </table>
    <footer th:replace="layout/plantilla :: footer"></footer>
</body>
</html>